.financePayrollManagement {

    .financePayrollManagementBody {
        .financePayrollManagementBodyContent {
            display: flex;
            flex-direction: column;

            .payrrollss {
                display: flex;

                span {
                    display: flex;
                    justify-content: center;
                    width:  25%;
                }
            }

        }
    }
}