.loginPage {
    background-image: url('../../assets/Login-unsplash.jpg');
    background-size: 100% 130%;

    .loginBody {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .introduction {
            width: 84%;
            border-radius: 16px;
            padding: 10px 0 10px 200px;
            background-color: #00000038;
            color: #ffffff;

            h1 {
                font-size: 70px;
                padding: 30px;
            }
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 16px;
            padding: 10px;
            width: 500px;
            gap: 10px;
            background-color: #fff;

            input {
                width: 95%;
                padding: 10px;
                border-radius: 16px;
                border: none;
                background-color: #F5F6FA;
            }

            span, h1 {
                width: 100%;
                padding: 10px;
            }

            button {
                width: 98%;
                padding: 10px;
                border-radius: 16px;
                border: none;
                background-color: #F5F6FA;
            }

            img {
                border-radius: 50px;
            }
        }

        resourcesConent {
            width: 60%;
            overflow: auto;
            height: 300px;
            background-color: #fff;
            padding: 20px;
            border-radius: 16px;
        }
    }
}