.employeePayroll {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    padding: 10px;
    background-color: #fff;

    .employeePayrollIncome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #F1F3FD;
        border-radius: 16px;

        .employeePayrollGrossIncome, .employeePayrollOvertimeIncome {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;

            .employeePayrollGrossIncomeHeader {
                font-weight: bold;
            }
        }
    }

    .employeePayrollAdvance {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background-color: #F1F3FD;
        border-radius: 16px;

        .employeePayrollAdvanceTop {
            display: flex;
            justify-content: space-between;
            padding: 0 0  10px 0;

            .employeePayrollAdvanceTopHeader {
                font-weight: bold;
            }

            button {
                padding: 10px 30px 10px 30px;
                color: #F1F3FD;
                font-weight: bold;
                background-color: #0083FF;
                border-radius: 16px;
                border: none;
            }
        }

        .employeePayrollAdvanceList {
            border-radius: 16px;
            background-color: #fff;
                li {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    list-style: none;
                }
        }

        .employeePayrollAdvanceNavbar {
            font-weight: 700;
        }

        .employeePayrollAdvanceNavbar, .employeePayrollAdvanceList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }

        .advanceForm {
            width: 50%;
            align-self: center;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                background-color: #fff;
                padding: 10px;
                border-radius: 16px;
                border: 1px solid black;

                .advanceFormAmount {
                    padding: 10px;

                    input {
                        padding: 10px;
                        border-radius: 16px;
                        border: none;
                        background-color: #F1F3FD;
                    }
                }

                button {
                    border-radius: 16px;
                    padding: 10px;
                    border: none;
                    color: #fff;
                    background-color: #0083FF;
                    font-weight: bold;
                }
            }
        }
    }

    .employeePayrollDeductions {
        padding: 20px;
        background-color: #F1F3FD;
        border-radius: 16px;

        
        .employeePayrollDeductionsHeader {
            font-weight: bold;
        }

        .employeePayrollDeductionsList {
            background-color: #fff;
            border-radius: 16px;

            li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-radius: 16px;
            list-style: none;
            }
        }

        .employeePayrollDeductionsNavbar {
            font-weight: 700;
        }

        .employeePayrollDeductionsNavbar, .employeePayrollDeductionsList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }

        
    }

    .employeePayrollEarning {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background-color: #F1F3FD;
        border-radius: 16px;

        .employeePayrollEarningHeader {
            font-weight: bold;
        }

    }
}