.scheduleManagement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 16px;
    background-color: #ffffff;

    .scheduleManagementTop {
        display: flex;
        padding: 10px;
        justify-content: space-between;

        span {
            font-weight: bold;
        }

        button {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            border-radius: 16px;
            border: none;
            font-weight: bold;
            color: #fff;
            background-color: #0083FF;
        }
    }

    .scheduleManagementBody {
        .scheduleManagementBodyHeader {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            font-weight: bold;
        }

        .scheduleManagementBodyContent {
            .scheduleManagementBodyContentList {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            background-color: #F1F3FD;
            border-radius: 16px;

            .scheduleActionBtns {
                display: flex;
                gap: 20px;
                width: 100%;
                font-size: 26px;
            }
            }
        }
    }
}
.addSchedule {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    padding: 10px;
    background-color: #fff;

    .addScheduleName,.addScheduleIn,.addScheduleOut,.addScheduleDuration {
        padding: 10px;
        border-radius: 16px;
        border: none;
        background-color: #F1F3FD;
    }
}